@import "font-awesome.css";

/* Roboto */
@font-face {
    font-family:'Roboto Light';
    src:url('roboto/roboto-light-webfont.eot');
    src:url('roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('roboto/roboto-light-webfont.woff') format('woff'),
        url('roboto/roboto-light-webfont.ttf') format('truetype');
    font-weight:300;
    font-style:normal;
    }

@font-face {
    font-family:'Roboto Regular';
    src:url('roboto/roboto-regular-webfont.eot');
    src:url('roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('roboto/roboto-regular-webfont.woff') format('woff'),
        url('roboto/roboto-regular-webfont.ttf') format('truetype');
    font-weight:400;
    font-style:normal;
    }
    
@font-face {
    font-family:'Roboto Medium';
    src:url('roboto/roboto-medium-webfont.eot');
    src:url('roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('roboto/roboto-medium-webfont.woff') format('woff'),
        url('roboto/roboto-medium-webfont.ttf') format('truetype');
    font-weight:500;
    font-style:normal;
    }

@font-face {
    font-family:'Roboto Bold';
    src:url('roboto/roboto-bold-webfont.eot');
    src:url('roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('roboto/roboto-bold-webfont.woff') format('woff'),
        url('roboto/roboto-bold-webfont.ttf') format('truetype');
    font-weight:600;
    font-style:normal;
    }

@font-face {
    font-family:'Roboto Black';
    src:url('fonts/roboto-black-webfont.eot');
    src:url('fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto-black-webfont.woff') format('woff'),
        url('fonts/roboto-black-webfont.ttf') format('truetype');
    font-weight:700;
    font-style:normal;
    }
